<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->
<section id="cta">
    <div class="container" style="background-color: #f4f7f3; padding: 2rem 0;">
        <h2 class="title">
            Get It Done
            <br/>
            With Us Today
        </h2>
        <p>
            Say something catchy, informative, and encouraging to click the button to go to the contact page. I like to add these to the bottom of all pages.
        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
</section>

